<form class="form-horizontal" method="get" action="/quizes/<%= quiz.id %>/answer">
  Pregunta: <%= quiz.pregunta %> <p>
  <input class="form-control" type="text" name="respuesta" placeholder="Respuesta">
  <input class="btn btn-info" type="submit" value="Enviar">
</form>
<a href="/quizes/<%= quiz.id %>/comments/new" class="btn btn-primary">Nuevo Comentario</a>
<br>
<p><strong>Comentarios:</strong></p>
<% for(index in quiz.Comments){ %>
  <% if(quiz.Comments[index].publicado || session.user){ %>
    <p> <%= quiz.Comments[index].texto %> </p>
    <% if(session.user && !quiz.Comments[index].publicado){ %>
      <a href="/quizes/<%= quiz.id %>/comments/<%= quiz.Comments[index].id %>/publish" class="btn btn-xs btn-default">Publicar</a>
    <% } %>
  <% } %>
<% } %>
